
/*principal */
*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
.background{
    position: relative;
    background-image: url("Catalogos_motos/background2.jpg");
}


.imgP{
    background-image: url('logo.jpg');
    position: relative;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    margin: 26px auto;
    margin-top: 2px;
    height: 235px;
    
} 

/*menu */
.nav{
    width: 300px;
}

.nav__link{
    color: #303440;
    display: inline-block;
    padding: 10px 0px;
    text-decoration: none;

}
.nav__link--inside:hover{
    background: rgb(170, 170, 170);


}

.nav__link--inside{
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
}
.list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background:white;
}
.list__item{
    list-style-type: none;
    width: 100%;
    text-align: left;
    overflow: hidden;

}

.list__item--click{
    cursor: pointer;
}
.list__buttom{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;

}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;

}
.list__show{
    width: 80%;
    margin-left: auto ;
    border-left: 2px solid #303440 ;
    list-style: none;
    transition: height .4s ;
    height: 0;
    
}


.LOGO{
    position: relative;
    text-align: center;
    color: white;
    font-size: 28px;
    background-color: #f32926;
    font-family: 'Oswald', sans-serif;
    margin-left: 5%;
    top: 50px;
    width: 350px;
    padding: 1px;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-bottom: 50px;
    border-top: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 4px 13px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 6px 4px 13px 3px rgba(0,0,0,0.6);
    box-shadow: 6px 4px 13px 3px rgba(0,0,0,0.6);

}

.titleP{
    position: relative;
    text-align: center;
    top: 10px;
    color: white;
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    -webkit-text-stroke: 2px gray;
    font-weight: 800;
    
  
}

.presentation{
    position: relative;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: black;
    -webkit-text-stroke: 1.5px black;
    font-size: 20px;
    bottom: 15px;
    

}

.seleccion{
    position: absolute;
    display: block;
    font-size: 25.2px;
    background-color: rgba(92, 91, 91, 0.63);
    border: 2px solid black;
    padding-top: 10px;
    width: 23%;
    height: 17%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.principal{
    display: block;
    margin-left: 25%;
    position: relative;
    width: 800px;
    font-family: 'Oswald', sans-serif;
    
}

.title{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;

}

.imgpp{
    margin-left: 12%;
    width: 600px;
}

.parP {
    font-weight: 10px;
    font-family: 'Oswald', sans-serif;

}
footer{
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: #f32926;
    background-size: contain;
    height: 160px;
    border: 3px;
    margin-top: 10%;
    border-color: black;
    border-style: solid;
    align-items: center;
 }

 .titCon{
    color: black;
    position:absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-left: 15px;
    margin-bottom: 115px;
}
.contact{
    position:absolute;
    margin-top: 40px;
    font-size: 15px;
    margin-left: 5%;
    width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(53, 51, 51);
   
    
}
.formulario{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    width: 500px;
    color: rgb(53, 51, 51);
    margin-left: 65%;
    padding-top: 5px;    
}
.ubicacion{
    position: absolute;
    margin-left: 35%;
    margin-bottom: 50px;
    width: 200px;
    height: 100px;   
}


/*catIndu*/
.imgIndu{
    background-image: url('images/motorcyclist.jpg');
    position: absolute;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    margin: 26px auto;
    margin-top: 0.5%;
    height: 250px; 
    border-style: double;
    border-color: red;
    
}
.carousel-item{
    width: 100%;
    height: 235px;
    margin-top: 2px;
    
    
}
.d-block1ind{
    background-image: url("imgInduSeleccion/trouserIndu.jpg");
    background-size: cover;
    width: 100%;
    height: 235px;
    background-position-y: -300px ;
}

.d-block2ind{
    background-image: url("imgInduSeleccion/shoei-nxr-2-01.jpg");
    background-size: cover;
    width: 100%;
    height: 235px;
    background-position-y: -300px ;
}

.d-block3ind{
    background-image: url("imgInduSeleccion/ktmrider.jpg");
    background-size: cover;
    width: 100%;
    height: 235px;
    background-position-y: -300px ;
}

.titleIndu{
    position: relative;
    text-align: center;
    color: rgb(3, 3, 3);
    font-family: 'Oswald', sans-serif;
    background-color: #FF2A27;
    margin-top: -20px;
    width: auto;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-bottom: 50px;
    border-top: 50px;
    border-radius: 10px;
    font-size: 20px;
    -webkit-text-stroke: 1.0px gray;
    font-weight: 200;
    
}


.bodyIndu{
    position: relative;
    margin-top: 0%;
    width: 65%;
    height: 70%;
    margin-left: 30%;
    padding: 10px;
}





.blockIndu{
    display: inline-block;
    width: auto;
    height: auto;
    border: solid 1px red;
    margin: 20px;
}

.principalIn{
    position: relative;
    display: inline;
    height: 100px;
    width: 90%;
    margin-top: 5%;
    font-family: 'Oswald', sans-serif;

 
}

/*.der{
    display: cover;
    background-image: url("images/8_BlackArrow_Liberty.jpg");
    background-position: -500px;
    background-size: cover;
    position: absolute;
    width: 200px;
    height: 800px;
    right: 0px;
    margin-top: 3%;
}

.izq{
    display: cover;
    background-image: url("images/Leather_Jackets_Cheetham_2_800x800.jpg");
    background-position-x: -200px ;
    position: absolute;
    width: 200px;
    height: 800px;
    left: 0px;
    margin-top: 3%;
}




 
/*catMot*/
.imgCat{
    background-image: url("Catalogos_motos/BMW-S-1000-RR-2023-45-1200x801.jpg");
    position: relative;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    margin: 26px auto;
    margin-top: 2px;
    height: 235px;
    
}

.carousel-item{
    width: 100%;
    height: 235px;
    margin-top: 2px;
    
    
}
.d-block1{
    background-image: url("Catalogos_motos/BMW-S-1000-RR-2023-45-1200x801.jpg");
    background-size: cover;
    width: 100%;
    height: 235px;
    background-position-y: -300px ;
}

.d-block2{
    background-image: url("images/2015-Yamaha-R1-R1M-HD-wallpapers-01.jpg");
    background-size: cover;
    width: 100%;
    height: 235px;
    background-position-y: -300px ;
}

.d-block3{
    background-image: url("images/2018-Triumph-Speed-Triple-1.jpg");
    background-size: cover;
    width: 100%;
    height: 235px;
    background-position-y: -300px ;
}


.efectotitle{
    position: relative;
    text-align: center;
    color: rgb(3, 3, 3);
    font-family: 'Oswald', sans-serif;
    background-color: #FF2A27;
    margin-top: -20px;
    width: auto;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-bottom: 50px;
    border-top: 50px;
    border-radius: 10px;
    font-size: 20px;
    -webkit-text-stroke: 1.0px gray;
    font-weight: 100;
}


.titleCat{
    position: relative;
    text-align: center;
    color: rgb(3, 3, 3);
    font-family: 'Oswald', sans-serif;
    background-color: #FF2A27;
    margin-top: -20px;
    width: auto;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-bottom: 50px;
    border-top: 50px;
    border-radius: 10px;
    font-size: 30px;
    -webkit-text-stroke: 1.0px gray;
    font-weight: 100;
    
}



.bodyCat{
    position: relative;
    width: 65%;
    height: 50%;
    margin-left: 25%;
    padding: 25px;
}



.card-img-top {
    width: 100px;
    height: 100px;
    object-fit: cover;
    
}
.card-title{
    text-align: center;
}
.card-body{
    background-color: rgb(199, 197, 197);
}

/*ModelMot*/



.imgAprilia{
    background-image: url("Apriliamodel/4909-aprilia-motorcycle-bike-sport-side-view-4k.jpg");
    position: relative;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    margin: 26px auto;
    margin-top: 2px;
    height: 235px;
    
}

.titleApr{
    position: relative;
    text-align: center;
    color: rgb(3, 3, 3);
    font-family: 'Oswald', sans-serif;
    background-color: #FF2A27;
    margin-top: -20px;
    width: auto;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-bottom: 50px;
    border-top: 50px;
    border-radius: 10px;
    font-size: 25px;
    -webkit-text-stroke: 1.0px gray;
    font-weight: 100;
    
}

.d-blockapr1{
    background-image: url("Apriliamodel/4909-aprilia-motorcycle-bike-sport-side-view-4k.jpg");
    background-size: cover;
    width: 100%;
    height: 235px;
    background-position-y: -300px ;
}
.d-blockapr2{
    background-image: url("images/2021-Aprilia-RS-660-launch-15-scaled.webp");
    background-size: cover;
    width: 100%;
    height: 235px;
    background-position-y: -300px ;
}

.d-blockapr3{
    background-image: url("images/2019Motocycles___Aprilia_Motorcycle_Aprilia_Tuono_V4_1100_Factory_2019_rear_view_135772_9.jpg");
    background-size: cover;
    width: 100%;
    height: 235px;
    background-position-y: -300px ;
}



.description {
    font-weight: 15px;
    font-family: 'Oswald', sans-serif;

}

.apriliaCard{
    display: inline-block;
    border: solid 3px rgba(255, 1, 1, 0.671);
    width: 350px;
    height: 320px;
    -webkit-box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.89);
    -moz-box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.89);
    box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.89);
    
    
}
.apriliaCardDor{
    display: inline-block;
    border: solid 3px rgba(255, 1, 1, 0.671);
    width: 350px;
    height: 267px;
    margin-top: 10px;
    -webkit-box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.89);
    -moz-box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.89);
    box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.89);
    
    
}
.apriliaCardCapo{
    display: inline-block;
    border: solid 3px rgba(255, 1, 1, 0.671);
    width: 350px;
    height: 267px;
    -webkit-box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.89);
    -moz-box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.89);
    box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.89);
    
    
    
}
.apriliaCardV4{
    display: inline-block;
    border: solid 3px rgba(255, 1, 1, 0.671);
    width: 350px;
    height: 320px;
    margin-top: 10px;
    -webkit-box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.89);
    -moz-box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.89);
    box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.89);
       
}

.descr{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-top: -5px;
}

/*NOTICE*/


.carousel-item{
    width: 100%;
    height: 235px;
    margin-top: 2px;
    
    
}
.d-block1not{
    background-image: url("Noticias/gsx8r.jpg");
    background-size: cover;
    width: 100%;
    height: 235px;
    background-position-y: -400px ;
}

.d-block2not{
    background-image: url("Noticias/husqy.jpg");
    background-size: cover;
    width: 100%;
    height: 235px;
    background-position-y: -300px ;
}

.d-block3not{
    background-image: url("Noticias/vr46.jpg");
    background-size: cover;
    width: 100%;
    height: 235px;
    background-position-y: -300px ;
}
.titleNOT{
    position: relative;
    text-align: center;
    color: rgb(3, 3, 3);
    font-family: 'Oswald', sans-serif;
    background-color: #FF2A27;
    margin-top: -20px;
    width: auto;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-bottom: 50px;
    border-top: 50px;
    border-radius: 10px;
    font-size: 20px;
    -webkit-text-stroke: 1.0px gray;
    font-weight: 100;
    
}

.imgNot{
    background-image: url("Noticias/novedades/2018-triumph-speed-triple-1050-rs-5k_1538943418.jpg.webp");
    position: relative;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    margin: 26px auto;
    margin-top: 2px;
    height: 235px;
    
}